<div class="input-div">
    <h3>Enter a world to search for:</h3>
    <form #form="ngForm">
        <input type="text">
      </form>
    
</div>
<div class="result" *ngIf="wordData">
  <h2 class="word">{{wordData.word}}</h2>
  <h4 class="partofspeech">{{wordData.results[0].partOfSpeech}}</h4>
   <li class="definitions" *ngFor="let item of wordData.results.slice(0,3); index as i">{{i+1}}: {{item.definition}}</li> 
   <h6 *ngIf="wordData.results[0].examples"> {{wordData.results[0].examples[0]}}</h6>
   <ul class="synonyms" *ngIf="WordSynonyms">
       <li class="synonyms-item" *ngFor="let item of WordSynonyms | slice:0:10">
          {{item}}
       </li>
   </ul>
</div>
